body{
   background-color: #D3F7FF;
   background-size: 100%;
}


/* Cabeçalho */


.menu3 h1 {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   margin: 0 5px;
   margin-bottom:0%;
   margin-inline-end: 100px;
}
.retangulo9 {
   width: 29px;
   height: 17px;
   flex-shrink: 0;
   border-radius: 16px;
   background: #EFDCDC;
}
.retangulo9 h1{
   color: rgb(0, 0, 0);
   font-family: "Kadwa";
   font-size: 14px;
   font-style: normal;
   text-align: center;
   font-weight: 400;
   line-height: normal;
   margin-inline-end: 100px;
}
.retangulo9 a{
   display: flex;
   text-decoration: none;
   justify-content: center;
   margin-inline-end: -60px;
}
.espaço {
   width: 29px;
   height: 17px;
   flex-shrink: 0;
   border-radius: 16px;
   background-color: rgba(211, 247, 255, 1);
   margin-inline-end: 30px;
}
.titulo {
   color: rgba(194, 5, 62, 0.97);
   font-family: "Pacifico";
   font-size: 22px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   font-style: italic;
   margin-inline-start: 3px;
   margin-bottom: 5px;
}
.bola {
   margin-inline-start: 5px;
   width: 27px;
   height: 27px;
   flex-shrink: 0;
   border-radius: 50%;
}
.pgi1 {
   margin-inline-end: 30px;
}


/* Linhas */


.linhamenu{
   display: flex;
   unicode-bidi: isolate;
   align-items: center;
   justify-content: center;
   align-content: center;
   padding: 0%;
   margin: 5px;
}
.linha {
   width: 383px;
   height: 0.75px;
   background: #000;
   padding: 0%;
   margin: 0%;
}
.linha4 {
   width: 383px;
   height: 0.50px;
   background: #000;
   padding: 0%;
   margin: 0%;
}


/* Troca de paginas */


nav {
   display: flex;
   unicode-bidi: isolate;
   padding: 1.5px;
   align-items: center;
   justify-content: center;
   align-content: center;
   flex-wrap: nowrap;
   flex-direction: row;
}
.menu ul {
   display: flex;
   width: 29px;
   height: 17px;
   flex-shrink: 0;
   border-radius: 16px;
   flex-wrap: nowrap;
   flex-direction: row;
   margin: 0 2.5px;
   align-content: center;
   justify-content: center;
}
.retangulo1 {
   background: #9C080B;
}
.retangulo2 {
   background: #B30539;
}
.retangulo3 {
   background: #AA0E51;
}
.retangulo4 {
   background: #970942; 
}
.retangulo5 {
   background: #B10606;
}
.distancia {
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
   margin-inline-end: 40px;
}
.trocapg {
   color: rgb(255, 255, 255);
   font-family: "Kadwa";
   font-size: 9px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
a {
   text-decoration: none;
}


/* Carrossel */


.carrossel {
   margin:  0 auto;
   width: 229px;
   height: 129px;
   overflow: hidden;
   border-radius: 16px;
   margin-top: 20px;
}
.slides {
   width: 400%;
   height: 129px;
   border-radius: 16px;
   display: flex;
}
.slides input {
   display: none;
}
.img1{
   width: 25%;
   position: relative;
   transition: 1.5s;
}
.img1 img{
   width: 229px;
}
.img2{
   width: 25%;
   position: relative;
   transition: 1.5s;
}
.img2 img{
   width: 229px;
}
.img3{
   width: 25%;
   position: relative;
   transition: 1.5s;
}
.img3 img{
   width: 229px;
}
.img4{
   width: 25%;
   position: relative;
   transition: 1.5s;
}
.img4 img{
   width: 229px;
}
.nvgmnl {
   position: absolute;
   width: 229px;
   margin-top: -20px;
   display: flex;
   justify-content: center;
}
.mnlbtn {
   border: 2px solid #FFF;
   padding: 3px;
   border-radius: 8px;
   cursor: pointer;
   transition: 1s;
}
.mnlbtn:not(:last-child) {
   margin-right: 40px;
}
#radio1:checked ~ .img1 {
   margin-left: 0;
}
#radio2:checked ~ .img1 {
   margin-left: -25%;
}
#radio3:checked ~ .img1 {
   margin-left: -50%;
}
#radio4:checked ~ .img1 {
   margin-left: -75%;
}


/* Informações das Paginas */


.menu5 {
   display: flex;
   flex-shrink: 0;
   flex-wrap: nowrap;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   padding: 0%;
   margin: 0%;
   margin-top: 10px;
}
.menu8 {
   display: flex;
   flex-shrink: 0;
   flex-wrap: nowrap;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   padding: 0%;
   margin: 0%;
   margin-top: 10px;
}
.menu9 {
   display: flex;
   flex-shrink: 0;
   flex-wrap: nowrap;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   padding: 0%;
   margin: 0%;
   margin-top: 10px;
}


/* Informações das Paginas - titulos */


.perguntas {
   color: #000;
   font-family: "Kavoon";
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   display: flex;
   justify-content: center;
   margin-inline-start: 30px;
   font-weight: bold;
}
.perguntasinicio1 {
   color: #000;
   font-family: "Kavoon";
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   display: flex;
   justify-content: center;
   margin-inline-start: 5px;
   font-weight: bold;
}
.perguntasinicio2 {
   color: #000;
   font-family: "Kavoon";
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   display: flex;
   justify-content: center;
   margin-inline-start: -25px;
   font-weight: bold;
}


/* Informações das Paginas - imagens */


.png {
   width: 54px;
   height: 54px;
   flex-shrink: 0;
   aspect-ratio: 1/1;
   display: flex;
   justify-content: center;
}
.mostruario {
   width: 282px;
   height: 158px;
   flex-shrink: 0;
   aspect-ratio: 141/79;
   border-radius: 16px;
}
.menuIMG {
   display: flex;
   flex-shrink: 0;
   flex-wrap: nowrap;
   flex-direction: column;
   align-content: center;
   justify-content: center;
}
.menu10 {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   flex-shrink: 0;
   padding: 0%;
   margin: 0%;
   margin-top: 20px;
}
.png2 {
   width: 177px;
   height: 116px;
   flex-shrink: 0;
   aspect-ratio: 177/116;
   margin-inline-start: 20px;
   display: flex;
   justify-content: center;
   border-radius: 16px;
   margin-bottom: 50px;
}
#imgespecial {
   margin-bottom: 35px;
}


/* Informações das Paginas - explicações */


.sectionEXP {
   display: flex;
   flex-shrink: 0;
   margin: -10px;
   flex-wrap: nowrap;
   flex-direction: row;
   align-content: center;
   justify-content: center;
}
.explicacao1 {
   width: 261px;
   height: 159px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   font-family: "Kaisei Tokumin";
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-top: -5px;
}
.explicacao2 {
   width: 292px;
   height: 297px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   font-family: "Kaisei Tokumin";
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-top: -3px;
}
.explicacao3 {
   width: 259px;
   height: 176px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   font-family: "Kaisei Tokumin";
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-top: -5px;
   margin-bottom: 100px;
}
.explicacao4 {
   width: 326px;
   height: 493px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   font-family: "Kaisei Tokumin";
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 100px;
}
.explicacao5 {
   width: 326px;
   height: 562px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   font-family: "Kaisei Tokumin";
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 100px;
}
.explicacao6 {
   width: 326px;
   height: 393px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   font-family: "Kaisei Tokumin";
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 100px;
}
.explicacao7 {
   width: 326px;
   height: 280px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   font-family: "Kaisei Tokumin";
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 100px;
}
.explicacao8 {
   width: 326px;
   height: 453px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   font-family: "Kaisei Tokumin";
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 100px;
}
.explicacao9 {
   width: 326px;
   height: 200px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   font-family: "Kaisei Tokumin";
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 100px;
}


/* Informações das Paginas - ESPECIAL TURISMO */


.navTurismo {
   display: flex;
   unicode-bidi: isolate;
   padding: 5px;
   align-items: center;
   justify-content: center;
   align-content: center;
   flex-wrap: nowrap;
   flex-direction: column;
}
.navTurismo p {
   flex-shrink: 0;
   color: #000;
   text-align: center;
   font-family: "Kaisei Tokumin";
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.navTurismo li {
   margin-inline-start: -20px;
}
.quadrado1 {
   width: 349px;
   height: 210px;
   flex-shrink: 0;
}
.quadrado2 {
   width: 241px;
   height: 154px;
   flex-shrink: 0;
}
.quadrado3 {
   width: 321px;
   height: 254px;
   flex-shrink: 0;

}
.quadrado4 {
   width: 335px;
   height: 142px;
   flex-shrink: 0;
}
.turismo1 {
   width: 356px;
   height: 90px;
   flex-shrink: 0;
}
.turismo2 {
   width: 356px;
   height: 120px;
   flex-shrink: 0;
}
.turismo3 {
   width: 354px;
   height: 82px;
   flex-shrink: 0;
}
.turismo4 {
   width: 335px;
   height: 44px;
   flex-shrink: 0;
}
.turismo5 {
   width: 356px;
   height: 76px;
   flex-shrink: 0;
}


/* Criadores do Projeto */


.menu4 {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   margin: 0 30px;
   gap: 15px;
   align-content: center;
   justify-content: center;
}
.criadores{
   font-family: "Kavoon";
   font-size: 11.5px;
   font-style: normal;
   font-weight: 1200;
   line-height: normal;
   margin: 0;
   padding: 0;
}
.nomes{
   color: #000;
   font-family: "Kdam Thmor Pro";
   font-size: 10px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin: 0 30px;
   gap: 15px;
}


/* Pagina Cadastro */


.menu7 {
   display: flex;
   flex-shrink: 0;
   border-radius: 16px;
   margin: 0 10px;
   flex-wrap: nowrap;
   flex-direction: row;
   align-content: center;
   justify-content: center;
}
.retangulo12 {
   width: 644px;
   height: 847px;
   flex-shrink: 0;
   border-radius: 16px;
   background: #FFF;
}
.retangulo12 img{
   display: flex;
   width: 180px;
   height: 147px;
   flex-shrink: 0;
   aspect-ratio: 60/49;
   margin-top: 40px;
   margin-inline-start: 196px;
   margin-bottom: 20px;
}
.retangulo12 input{
   width: 356px;
   height: 42px;
   flex-shrink: 0;
   border-radius: 16px;
   border: 1px solid #000;
   background: rgba(240, 240, 240, 0.90);
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
   display: flex;
   justify-content: center;
   margin-inline-start: 95px;
}
.retangulo12 h1{
   color: #000;
   font-family: Kavoon;
   font-size: 28px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   display: flex;
   margin-inline-start: 35px;
}
.retangulo12 button{
   width: 228px;
   height: 46px;
   flex-shrink: 0;
   border-radius: 16px;
   background: #17DEDA;
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
   margin-top: 40px;
   margin-inline-start: 176px;
}
.retangulo12 p{
   flex-shrink: 0;
   color: #000;
   font-family: "Kdam Thmor Pro";
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   display: flex;
   justify-content: center;
   margin-inline-end: 55px;
}


/* Pagina Cadastro */


.retangulo13 {
   width: 644px;
   height: 847px;
   flex-shrink: 0;
   border-radius: 16px;
   background: #FFF;
}
.retangulo13 img{
   display: flex;
   width: 287px;
   height: 234px;
   flex-shrink: 0;
   aspect-ratio: 287/234;
   margin-top: 40px;
   margin-inline-start: 136px;
   margin-bottom: 20px;
}
.retangulo13 h1{
   color: #000;
   font-family: Kavoon;
   font-size: 28px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   display: flex;
   margin-inline-start: 35px;
}
.retangulo13 button{
   width: 228px;
   height: 46px;
   flex-shrink: 0;
   border-radius: 16px;
   background: #17DEDA;
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
   margin-top: 40px;
   margin-inline-start: 176px;
}
.retangulo13 input{
   width: 356px;
   height: 42px;
   flex-shrink: 0;
   border-radius: 16px;
   border: 1px solid #000;
   background: rgba(240, 240, 240, 0.90);
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
   display: flex;
   justify-content: center;
   margin-inline-start: 95px;
}
.retangulo13 p{
   flex-shrink: 0;
   color: #000;
   font-family: "Kdam Thmor Pro";
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   display: flex;
   justify-content: center;
   margin-inline-end: 55px;
}
.separação {
   display: flex;
   flex-shrink: 0;
   border-radius: 16px;
   flex-wrap: nowrap;
   flex-direction: row;
   margin: 0 10px;
   align-content: center;
   justify-content: center;
}
.linha2 {
   width: 168px;
   height: 1px;
   background: rgba(0, 0, 0, 0.28);
   margin-top: 40px;
   
}
.meio {
   color: rgba(0, 0, 0, 0.28);
   font-family: Kadwa;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-top: 27.5px;
}
.linha3 {
   width: 168px;
   height: 1px;
   background: rgba(0, 0, 0, 0.28);
   margin-top: 40px;
}
.trocarpg {
   color: #9E1010;
   font-family: Kadwa;
   font-size: 28px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   margin-inline-end: 50px;
}
.aviso {
   color: #9E1010;
   font-family: Kadwa;
   font-size: 28px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   margin-inline-end: 50px;
}